
<app-header></app-header>
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">

            <div class="card-header">
                <strong>Détail Annonce</strong>
            
            </div>

         <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
              

        
                <div class="form-row">

                  
                  <div class="col-md-4 mb-4">
                   <label for="name">Titre</label> 
                   <input type="text" class="form-control"   name="nom" ngModel [ngModel]="ann.titre">
                  </div>
  
                   <div class="col-md-4 mb-4">
                    <label for="name">Description</label>   <input type="text" class="form-control"   name="description"  ngModel [ngModel]="ann.description">
                   </div> 

                </div>
       
               <div class="form-row">
                <div class="col-md-4 mb-4">
                  <label for="name">Photo</label>   <input type="text" class="form-control"   name="photo" ngModel  [ngModel]="ann.photo">
                </div>
                
    
                </div>

               

               
                 

            
  
                
          
  
        </div>
  
      </div>
    </div>
  </div>
  